<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheet/bootstrap-theme.min.css" />
</head>
<body>
    <nav class="navbar navbar-defualt">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/random">Random</a></li>
        </ul>
    </nav>